body {
  background-color: pink;
}

p {
  text-align: center;
  font-family: verdana;
  font-size: 24px;
}

h1 {
  text-align: center;
  color: blue;
}

img {
  padding: 2px;
  border:1px solid black;
  display: block;
  margin: 0 auto;
}



